
@use './Header/card_header';
@use './Date/card_date';
@use './Section/card_section';

.card {
	min-height: 380px;
	width: 300px;
	margin: 10px;
	background: white;
	color: #333;
	border-radius: 7px;

	@media (max-width: 330px) {
		width: unset;
		max-width: 300px;
	}
}

